# Compiled class files and build artifacts
*.class
*.jar
*.war
*.ear
*.nar

# Package Files #
# Comment this out to ignore most of build folder contents
# You might want to ignore the whole target/ or build/ directory instead

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar  # Keep the Gradle wrapper jar, but ignore the rest of the build directory

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
hs_err_pid*

# VS Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
